<%= form_with(model: event, local: true) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, class: "input", autofocus: true %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :date, class: "label" %>
      <%= f.date_select :date, type: "date", class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :location, class: "label" %>
      <%= f.text_field :location, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :description, class: "label" %>
      <%= f.text_field :description, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Create Event", class:"button is-primary is-large is-fullwidth" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= link_to 'Cancel', root_path, class:"button is-large is-fullwidth" %>
    </div>
  </div>
<% end %>
