<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <img src="https://clipartstation.com/wp-content/uploads/2017/11/clipart-binatang-7.jpg" width="25" height="25">
        </div>
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-4">Eventoon</h1>
        <% end %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to "Create event", new_event_path, class: "button is-white" %>
              </p>
              <% if current_user %>
                <p class="control">
                  <%= link_to current_user.name, user_path(current_user), class: "button is-white" %>
                </p>
                <p>
                  <%= link_to "Logout", logout_path, class: "button is-white" %>
                </p>
              <% else %>
                <p class="control">
                  <%= link_to 'Sign In', login_path, class: "button is-white" %>
                </p>
						    <p class="control">
                  <%= link_to 'Sign Up', signup_path, class: "button is-white" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Created by <a href="https://github.com/Pandenok">Pandenok</a> &copy
      </p>
    </div>
  </footer>
</html>
